*{
  box-sizing: border-box;
  font-family: Poppins, sans-serif;
}

body{
  padding: 60px;
}

input{
  width: 100%;
  padding: 10px;
  color: rgb(66, 66, 66);
}

.card{
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(243, 243, 243, 0.692);
  border-radius: 15px;
  overflow: hidden;
  margin-right: 10px;
  margin-bottom: 50px;
  padding: 20px;
  box-shadow: 5px 5px 15px rgba(0, 0, 0, 0.096);
}
.card img{
  max-height: 170px;
}
.card-grid{
  display: flex;
  flex-wrap: wrap;
}